form.dark {

	.form-control {
		border: none;
		outline: none;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		background-color: var(--color-grey);
		color: #cecece;
		border-radius: 0.25rem;
		&:focus {
			box-shadow: 0 0 5px 5px var(--color-primary);
		}
	}

	.form-control.error{
		outline: 1px solid var(--color-error);

		&:focus{
			box-shadow: 0 0 5px 5px var(--color-error);
		}
	}

}
